<div id="wrapper">
  <%= form_for(@week) do |f| %>
    <p>基本人数</p>
    <h1>1週間設定</h1>
    <div>
      <p>曜日</p>
      <% weeklyday = ["月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日", "日曜日", ] %>
      <%#= f.select :weeklyday, [["月曜日", "mon"], ["火曜日", "tue"],["水曜日", "wed"], ["木曜日", "thu"], ["金曜日", "fri"], ["土曜日", "sat"], ["日曜日", "sun"]], {}, {multiple: true, size: 7} %>
      <% weeklyday.each do |w| %>
        <%= f.label :weeklyday, w %>
        <%= f.check_box :weeklyday ,{ multiple: true, include_hidden: false }, w, nil %>
      <% end %>
      <p>時間</p>
      <%= f.number_field :working_time, min: 1, max: 24 %>
      <p>から</p>
      <%= f.number_field :working_time, min: 1, max: 24 %>
      <p>人数</p>
      <%= f.number_field :count, min: 1 %>
      <%= f.submit "追加" %>
    </div>
  <% end %>
</div>