<h1>シフト制作を自動化します！</h1>
<%= button_to "新規登録", new_user_path, method: :get %>
<h2>使い方</h2>
<h2>STEP1:店の1週間の予定を入力します</h2>
<%= image_tag "guide1.png", class: "guide_image" %>
<h2>STEP2:店の1ヶ月の予定を入力します</h2>
<%= image_tag "guide2.png", class: "guide_image" %>
<h2>STEP3:スタッフが1週間の勤務可能時間の予定を入力します</h2>
<%= image_tag "guide3.png", class: "guide_image" %>
<h2>STEP4:スタッフが勤務可能時間を入力します</h2>
<%= image_tag "guide4.png", class: "guide_image" %>
<h2>STEP5:オーナーが「シフト作成ボタン」を押すと自動でシフトを作成します</p>
<%= image_tag "guide5.png", class: "guide_image" %>
<h2>STEP6:個別で編集も可能です</h2>
<%= image_tag "guide6.png", class: "guide_image" %>
<%= button_to "新規登録", new_user_path, method: :get %>