<%= link_to '1週間設定',  new_store_store_weekly_schedule_path(@store) %><br>
<% if owner? && @store_shift_section.status == 0 %>
  <% @store_month_schedule.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>
  <%= form_for [@store, @store_month_schedule], url: "/stores/#{params[:store_id]}/store_month_schedules?beginning=#{params[:beginning]}" do |f| %>
    <%= f.date_select :date, {use_month_numbers: true} %>
    <h1>時間</h1>
    <div class="time">
      <%= f.time_field :working_time_from, class: "working_time" %>
      <p>〜</p>
      <%= f.time_field :working_time_to, class: "working_time" %>
      <h1>人数</h1>
      <%= f.number_field :count, min: 1 %>
      <%= f.submit "追加" %>
    </div>
  <% end %>
  <br>
  <%= button_to 'スケジュールを決定', "/stores/#{params[:store_id]}/shifts/#{params[:beginning]}/change_status/1" %>
<% end %>

<%= SimpleCalendar::BusinessWeekCalendar.new(self, {}).render do |date| %>
  <%= date.day %>
  <table>
    <% date_working_times(date).each do |dwt| %>
      <tr>
        <td><%= dwt.working_time_from.strftime( "%H:%M" ) %></td>
        <td rowspan="2">
          <%= dwt.count %>人
          <% if dwt[:date] != nil && owner? && @store_shift_section.status == 0  %>
            <%= button_to '削除', store_store_month_schedule_path(@store, dwt), method: :delete %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= dwt.working_time_to.strftime( "%H:%M" ) %></td>
      </tr>
    <% end %>
  </table>
<% end %> 