<% if owner?(params[:store_id]) %>
  <% @store_month_schedule.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>
  <%= form_for [@store, @store_month_schedule] do |f| %>
    <%= f.date_select :date, {discard_year: true} %>
    <h1>時間</h1>
    <div class="time">
      <%= f.time_field :working_time_from, class: "working_time" %>
      <p>〜</p>
      <%= f.time_field :working_time_to, class: "working_time" %>
      <h1>人数</h1>
      <%= f.number_field :count, min: 1 %>
      <%= f.submit "追加" %>
    </div>
  <% end %>
<% end %>

<%= SimpleCalendar::BusinessWeekCalendar.new(self, {}).render do |date| %>
  <%= date.day %>
  <table>
    <% date_table(date).each do |dt| %>
      <tr>
        <td><%= dt.working_time_from.strftime( "%H:%M" ) %></td>
        <td rowspan="2">
          <%= dt.count %>人
          <% if dt[:date] != nil %>
          <% if owner?(params[:store_id]) %>
            <%= button_to '削除', store_store_month_schedule_path(@store, dt), method: :delete %>
          <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= dt.working_time_to.strftime( "%H:%M" ) %></td>
      </tr>
    <% end %>
  </table>
<% end %> 