<div id="wrapper">
    <% @store_month_schedule.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
  <%= form_for(@store_month_schedule) do |f| %>
    <%= f.date_select :date, {discard_year: true} %>
    <h1>時間</h1>
    <div class="time">
      <%= f.time_field :working_time_from, class: "working_time" %>
      <p>〜</p>
      <%= f.time_field :working_time_to, class: "working_time" %>
      <h1>人数</h1>
      <%= f.number_field :count, min: 1 %>
      <%= f.submit "追加" %>
    </div>
  <% end %>

  <%= month_calendar do |date| %>
    <%= date.day %>
    <%#= date_table(date) %>
    <% date_table(date).each do |dt| %>
      <table>
        <tr>
          <td><%= dt.working_time_from.strftime( "%H:%M" ) %></td>
          <td rowspan="2"><%= dt.count %>人</td>
        </tr>
        <tr>
          <td><%= dt.working_time_to.strftime( "%H:%M" ) %></td>
        </tr>
      </table>
    <% end %>

  <% end %> 
</div>