<div id="wrapper">
  <%= form_for(@store_schedule) do |f| %>
    <p>基本人数</p>
    <h1>1週間設定</h1>
    <div>
      <p>曜日</p>
      <%= f.collection_check_boxes(:weeklyday_id, Weeklyday.all, :id, :name, include_hidden: false) %>
      <p>時間</p>
      <%= f.time_field :working_time_from, min: 1, max: 24 %>
      <p>から</p>
      <%= f.time_field :working_time_to, min: 1, max: 24 %>
      <p>人数</p>
      <%= f.number_field :count, min: 1 %>
      <%= f.submit "追加" %>
    </div>
  <% end %>
  <table class="table" border="1">
    <tr>
      <th></th>
      <th>月曜日</th>
      <th>火曜日</th>
      <th>水曜日</th>
      <th>木曜日</th>
      <th>金曜日</th>
      <th>土曜日</th>
      <th>日曜日</th>
    </tr>
    <tr>
      <td>田中</td>
      <td>27</td>
    </tr>
  </table>
</div>