<div id="wrapper">
  <%= form_for(@store_schedule) do |f| %>
    <p>基本人数</p>
    <h1>1週間設定</h1>
    <% @store_schedule.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
    <div>
      <p>曜日</p>
      <%= f.collection_check_boxes(:weeklyday_id, Weeklyday.all, :id, :name, include_hidden: false) %>
      <p>時間</p>
      <%= f.time_field :working_time_from %>
      <p>から</p>
      <%= f.time_field :working_time_to %>
      <p>人数</p>
      <%= f.number_field :count, min: 1 %>
      <%= f.submit "追加" %>
    </div>
  <% end %>
  <table class="table" border="1">
    <tr>
      <th></th>
      <th>月曜日</th>
      <th>火曜日</th>
      <th>水曜日</th>
      <th>木曜日</th>
      <th>金曜日</th>
      <th>土曜日</th>
      <th>日曜日</th>
    </tr>
    <% @working_times.each_with_index do |working_time, i| %>
      <tr>
        <th><%= working_time.strftime( "%H:%M" ) %></th>
        <% @weeklydays.each do |weeklyday| %>
            <%  working_time_from_weeklyday = @current_user.store.store_schedules.find_by(working_time_from: working_time, weeklyday_id: weeklyday.id) %>
            <%  working_time_to_weeklyday = @current_user.store.store_schedules.find_by(working_time_to: working_time, weeklyday_id: weeklyday.id) %>
            <% if working_time_from_weeklyday && working_time_to_weeklyday %>
              <td  style="border-bottom:none;"><%= "┿   #{working_time_from_weeklyday.count}人" %></td>
            <% elsif working_time_from_weeklyday %>
              <td style="border-bottom:none;"><%= "┯	  #{working_time_from_weeklyday.count}人" %></td>
            <% elsif working_time_to_weeklyday %>
              <td>┷</td>
            <% elsif bar_line(weeklyday.id, working_time) %>
              <td style="border-bottom:none;">│</td>
            <% else %>
              <td></td>
            <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>