<h1><%= @store.name %></h1>
<h1>ストアID</h1>
<%= "#{@store.public_uid[0..2]} - #{@store.public_uid[3..6]}" %>
<h2>オーナー</h2>
<%= @store.owner.name %>
<h1>メンバー</h1>
<% @store.users.each do |member| %>
  <%= member.name %><br>
<% end %>
<h2>申請中</h2>
<% @affiliation_applications.each do |affiliation_application| %>
  <%= affiliation_application.user.name %>
  <%= button_to "許可", "/stores/#{params[:id]}/approve_staff/#{affiliation_application.user_id}" %>
  <br>
<% end %>