<%= link_to "オーナーの方はこちら", new_store_path %>
<h2>店舗のスタッフになる</h2>
<%= form_for @applying_store_id, url: user_applying_store_id_index_path(@user) do |f| %>
  <% @applying_store_id.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>
  <p>ストアID</p>
  <%= f.number_field :store_public_uid, in: 10000000..99999999 %>
  <%= f.submit "作成" %>
<% end %>