<%= form_for @user do |f| %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>
  <h1>新規登録</h1>
  <p>名前</p>
  <%= f.text_field :name %>
  <p>メールアドレス</p>
  <%= f.email_field :email %>
  <p>パスワード</p>
  <%= f.password_field :password %>
  <p>パスワード(確認)</p>
  <%= f.password_field :password_confirmation %>
  <p>1ヶ月の勤務希望時間</p>
  <%= f.number_field :working_desired_time, in: 0...300 %>
  <p class="inline">時間</p><br>
  <%= f.submit "作成" %>
<% end %>
