<%= link_to "スケジュール一覧", "/users/#{current_user.id}/user_unable_schedules" %>
<% if @store_shift_submission %>
  <% unless @user.submissions.find_by(store_shift_submission_id: @store_shift_submission.id) %>
    <% @user_schedule.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
    <%= form_for([@user, @user_schedule]) do |f| %>
      <div>
        <h1>1週間設定</h1>
        <h2>曜日</h2>
        <%= f.collection_check_boxes(:weeklyday_id, Weeklyday.all, :id, :name, include_hidden: false) %>
        <div class="time">
          <h2>時間</h2>
          <%= f.time_field :working_time_from, class: "working_time" %>
          <p>〜</p>
          <%= f.time_field :working_time_to, class: "working_time" %>
          <%= f.submit "追加" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<%= render "weekly_scheduled" %>