<div id="wrapper">
<h1>勤務予定(クリックで削除)</h1>
<% unless @shifts.empty? %>
  <% @shifts.each do |shift| %>
    <%  working_user = User.find(shift.user_id) %>
    <%= link_to "#{working_user.name}",  store_shift_path(@store, shift), method: :delete %>
    <% @store_user.delete(working_user) %>
  <% end %>
<% end %>
<h1>勤務可能(クリックで追加)</h1>
<% unless @date_available_staff.empty? %>
  <% @date_available_staff[:ids].each do |id| %>
    <% available_staff = User.find(id) %>
    <% if @store_user.include?(available_staff) %>
      <%= link_to "#{available_staff.name}",  "/stores/#{@store.id}/shifts", method: :post %>
      <% @store_user.delete(available_staff) %>
    <% end %>
  <% end %>
<% end %>
<h1>シフト提出済(クリックで追加)</h1>
<% unless @submission_user.empty? %>
  <% @submission_user.each do |su| %>
    <% if @store_user.include?(su) %>
      <%= link_to "#{su.name}",  store_shift_path(@store), method: :post %>
      <% @store_user.delete(su) %>
    <% end %>
  <% end %>
<% end %>
<h1>その他(クリックで追加)</h1>
<% unless @store_user.empty? %>
  <%= @store_user.each do |su| %>
      <%= link_to "#{su.name}",  store_shift_path(@store), method: :post %>
  <% end %>
<% end %>
</div>