<% if owner?(params[:store_id]) %>
  <% if @store_shift_submission.nil? %>
    <p>シフトはありません</p>
  <% elsif @store_shift_submission.status == 0 || 2 %>
    <% redirect_to %>
  <% elsif @store_shift_submission.status == 2 %>
    <%= button_to '決定',  store_store_shift_submission_index_path(@store), method: :post %>
  <% elsif @store_shift_submission.status == 3 %>
    <%= button_to '再編集',  store_store_shift_submission_path(@store, @store), method: :delete %>
  <% end %>
<% end %>
<%#= month_calendar do |date| %>
<%= SimpleCalendar::BusinessWeekCalendar.new(self, {}).render do |date| %>
  <div class="date">
    <%= date.day %>
    <table>
      <% date_table(date).each do |dt| %>
        <% date_shifts = Shift.where(date: date, working_time_from: dt.working_time_from) %>
        <tr>
          <td><%= dt.working_time_from.strftime( "%H:%M" ) %></td>
          <td rowspan="2">
            <%= "#{dt.count}人" %><br>
            <% date_shifts.each do |date_shift| %>
              <% working_user = User.find(date_shift.user_id) %>
              <%= working_user.name %><br>
              <% @working_time_sum[working_user.id] += dt.working_time_to - dt.working_time_from %>
            <% end %>
            <% if @store_shift_submission.nil? %>
              <%= link_to '編集',  "/stores/#{@store.id}/shifts/#{date}/#{dt.working_time_from.strftime( "%H:%M" )}/edit" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= dt.working_time_to.strftime( "%H:%M" ) %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<table class="table">
  <tr>
    <th>名前</th>
    <th>合計勤務時間</th>
  </tr>
  <% working_time_sum_sum = 0 %>
  <% @working_time_sum.each do |id, wts| %>
    <% working_time_sum_sum += wts %>
    <tr>
      <td><%= User.find(id).name %></td>
      <td><%= wts / 3600 %>時間</td>
    </tr>
  <% end %>
  <tr>
    <td>合計</td>
    <td><%= working_time_sum_sum / 3600 %>時間</td>
  </tr>
</table>
</div>