<div id="wrapper">
<% available_staff = calendar %>
<% working_time_sum = {} %>
<% @submission_user.each do |su| %>
<% working_time_sum.store(su.id, 0) %>
<% end %>
<%#= available_staff %>
<%= month_calendar do |date| %>
  <div class="date">
    <%= date.day %>
    <table>
      <% date_table(date).each do |dt| %>
        <% date_shifts = Shift.where(date: date, working_time_from: dt.working_time_from) %>
        <tr>
          <td><%= dt.working_time_from.strftime( "%H:%M" ) %></td>
          <td rowspan="2">
            <%= "#{dt.count}人" %><br>
            <% date_shifts.each do |date_shift| %>
              <% working_user = User.find(date_shift.user_id) %>
              <%= working_user.name %><br>
              <% working_time_sum[working_user.id] += dt.working_time_to - dt.working_time_from %>
            <% end %>
            <%= link_to '編集',  "/stores/#{@store.id}/shifts/#{date}/#{dt.working_time_from.strftime( "%H:%M" )}/edit" %>
          </td>
        </tr>
        <tr>
          <td><%= dt.working_time_to.strftime( "%H:%M" ) %></td>
        </tr>
        
      <% end %>
    </table>
  </div>
<% end %>
<table class="table">
  <tr>
    <th>名前</th>
    <th>合計勤務時間</th>
  </tr>
  <% working_time_sum_sum = 0 %>
  <% working_time_sum.each do |id, wts| %>
    <% working_time_sum_sum += wts %>
    <tr>
      <td><%= User.find(id).name %></td>
      <td><%= wts / 3600 %>時間</td>
    </tr>
  <% end %>
  <tr>
    <td>合計</td>
    <td><%= working_time_sum_sum / 3600 %>時間</td>
  </tr>
</table>
</div>