<div id="wrapper">
<% available_staff, working_time_sum = calendar %>
<%= month_calendar do |date| %>
  <div class="date">
    <%= date.day %>
    <% date_available_staff = available_staff.find_all { |a| a[:date] == date } %>
    <table>
      <%date_available_staff.each do |das|%>
        <tr>
          <td><%= das[:working_time_from].strftime( "%H:%M" ) %></td>
          <td rowspan="2">
            <%= "#{das[:count]}人" %><br>
            <% das[:working_staff].each do |id| %>
              <%= User.find(id).name %><br>
            <% end %>
            <%# <button id="available_staff_edit">編集</button> %>
          </td>
        </tr>
        <tr>
          <td><%= das[:working_time_to].strftime( "%H:%M" ) %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<table class="table">
  <tr>
    <th>名前</th>
    <th>合計勤務時間</th>
  </tr>
  <% working_time_sum.each do |id, wts| %>
    <tr>
      <td><%= User.find(id).name %></td>
      <td><%= wts / 60 %>時間</td>
    </tr>
  <% end %>
</table>
</div>