<%= link_to 'シフト一覧へ',  store_shift_section_index_path %><br>
<% if owner?(params[:store_id]) %>
  <% if @store_shift_submission.status == 2 %>
    <%= button_to '決定',  "/stores/#{params[:store_id]}/shifts/#{params[:beginning]}/change_status/3", method: :post %>
  <% elsif @store_shift_submission.status == 3 %>
    <%= button_to '再編集',  "/stores/#{params[:store_id]}/shifts/#{params[:beginning]}/change_status/2", method: :post %>
  <% elsif @store_shift_submission.status == 1 %>
    <% @store.users.each do |member| %>
      <div>
        <%= member.name %>
        <% submission_user = Submission.find_by(user_id: member.id, store_shift_submission_id: @store_shift_submission.id) %>
        <% if submission_user %>
          提出済
        <% else %>
          <font color="red">未提出</font>
        <% end %>
      </div>
    <% end %>
    <%= button_to 'シフト作成',  "/stores/#{params[:store_id]}/shifts/#{params[:beginning]}/change_status/2", method: :post %>
  <% end %>
<% end %>
<%= SimpleCalendar::BusinessWeekCalendar.new(self, {}).render do |date| %>
  <div class="date">
    <%= date.day %>
    <table>
      <% date_table(date).each do |dt| %>
        <% date_shifts = Shift.where(date: date, working_time_from: dt.working_time_from) %>
        <tr>
          <td><%= dt.working_time_from.strftime( "%H:%M" ) %></td>
          <td rowspan="2">
            <%= "#{dt.count}人" %><br>
            <% date_shifts.each do |date_shift| %>
              <% working_user = User.find(date_shift.user_id) %>
              <%= working_user.name %><br>
              <% @working_time_sum[working_user.id] += dt.working_time_to - dt.working_time_from %>
            <% end %>
            <% if @store_shift_submission.status == 2 %>
              <%= link_to '編集',  "/stores/#{@store.id}/shifts/#{date}/#{dt.working_time_from.strftime( "%H:%M" )}/edit" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= dt.working_time_to.strftime( "%H:%M" ) %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<table class="table">
  <tr>
    <th>名前</th>
    <th>合計勤務時間</th>
  </tr>
  <% working_time_sum_sum = 0 %>
  <% @working_time_sum.each do |id, wts| %>
    <% working_time_sum_sum += wts %>
    <tr>
      <td><%= User.find(id).name %></td>
      <td><%= wts / 3600 %>時間</td>
    </tr>
  <% end %>
  <tr>
    <td>合計</td>
    <td><%= working_time_sum_sum / 3600 %>時間</td>
  </tr>
</table>
</div>