<%= form_for [@store, @shift_section], url: store_shift_section_index_path(@store) do |f| %>
  <% @shift_section.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>
  <h1>シフトを新たに作成する</h1>
  <h2>期間</h2>
    <%= f.date_select :beginning, {use_month_numbers: true} %>
    <p>から</p>
    <%= f.date_select :ending, {use_month_numbers: true} %>
    <%= f.submit "作成" %>
<% end %>