<div id="wrapper">
<% if Submission.find_by(user_id: @current_user.id) %>
  <%= form_for(@submission, url: '/submission/destroy', method: "delete") do |f| %>
    <%= f.submit "再編集" %> 
  <% end %>
<% else %>
  <%= form_for(@submission, url: '/submission') do |f| %>
    <%= f.submit "提出" %> 
  <% end %>
<% end %>
  <%= month_calendar do |date| %>
    <div class="date">
      <% month = date.month %>
      <%= date.day %>
      <% date_table(date).each do |dt| %>
        <table>
          <tr>
            <td><%= dt.working_time_from.strftime( "%H:%M" ) %></td>
            <td rowspan="2">
              <%= dt.count %>人
              <%= form_for(@user_unable_schedule) do |f| %>
                <%= f.hidden_field :date, value: date %>
                <%= f.hidden_field :working_time_from, value: dt.working_time_from %>
                <%= f.hidden_field :working_time_to, value: dt.working_time_to %>
                <% unless Submission.find_by(user_id: @current_user.id) %>
                  <%= f.submit "削除" %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= dt.working_time_to.strftime( "%H:%M" ) %></td>
          </tr>
        </table>
      <% end %>
    </div>
  <% end %> 
  <%# @user_unable_schedules = UserUnableSchedule.where(user_id: @current_user.id, date: month.all_month) %>
  <% @user_unable_schedules.each do |user_unable_schedule| %>
    <div>
      <%= user_unable_schedule.date %>
      <%= user_unable_schedule.working_time_from.strftime( "%H:%M" ) %>
      ~
      <%= user_unable_schedule.working_time_to.strftime( "%H:%M" ) %>
      <% unless Submission.find_by(user_id: @current_user.id) %>
        <%= button_to '復元', "/user_unable_schedules/#{user_unable_schedule.id}", method: :delete %>
      <% end %>
    </div>
  <% end %>
</div>