<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="">
<title>shift_app</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<![endif]-->
<%# <script src="js/jquery1.7.2.min.js"></script> %>
<%# <script src="js/script.js"></script> %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%#= javascript_include_tag 'application' %>
</head>
<body>

  <!-- ヘッダー -->
  <div id="header">
    <div class="inner">
      <!-- ロゴ -->
      <div class="logo">
      <% if logged_in? %>
        <a href="<%= store_shifts_path(@current_user.store) %>">シフト管理<br><span>shift_app</span></a>
      <% else %>
        <a>シフト管理<br><span>shift_app</span></a>
      <% end %>
      </div>
      <!-- / ロゴ -->
      
      <!-- メインナビゲーション -->
      <nav id="mainNav">
        <a class="menu" id="menu"><span>MENU</span></a>
        <div class="panel">
          <% if logged_in? %>
            <ul>
              <li><%= current_user.id %></li>
              <li><%= session[:user_id] %></li>
              <li><%= link_to current_user.store.name, new_store_store_month_schedule_path(current_user.store) %></li>
              <li><%= link_to current_user.name, new_user_user_unable_schedule_path(current_user) %></li>
              <% if logged_in? %>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </nav>
      <!-- メインナビゲーション -->
      
    </div>
  </div>
  <!-- / ヘッダー -->
  <div id="wrapper">
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
