<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="">
<title>shift_app</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<![endif]-->
<%# <script src="js/jquery1.7.2.min.js"></script> %>
<%# <script src="js/script.js"></script> %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

  <!-- ヘッダー -->
  <div id="header">
    <div class="inner">
      <!-- ロゴ -->
      <div class="logo">
      <% if logged_in? && current_user.store %>
        <a href="<%= store_shift_section_index_path(current_user.store.id) %>">シフト管理<br><span>shift_app</span></a>
      <% else %>
        <a>シフト管理<br><span>shift_app</span></a>
      <% end %>
      </div>
      <!-- / ロゴ -->
      
      <!-- メインナビゲーション -->
      <nav id="mainNav">
        <div class="panel">
          <% if logged_in? %>
            <ul class="menu" id="menu">
              <% if current_user.store %>
                <li class="menu-list">
                  <%= link_to current_user.store.name, "/stores/#{current_user.store.id}/store_month_schedules" %>
                  <ul class="menu_content">
                    <li><%= link_to "ストア情報", store_path(current_user.store) %></li>
                    <li><%= link_to "シフト", store_shift_section_index_path(current_user.store) %></li>
                    <li><%= link_to "ストアスケジュール", "/stores/#{current_user.store.id}/store_month_schedules" %></li>
                  </ul>
                </li>
              <% end %>
              <li class="menu-list">
                <%= link_to current_user.name, "/users/#{current_user.id}/user_unable_schedules" %>
                <ul class="menu_content">
                  <li><%= link_to "ユーザー情報", user_path(current_user) %></li>
                  <li><%= link_to "ユーザースケジュール", "/users/#{current_user.id}/user_unable_schedules" %></li>
                </ul>
              </li>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            </ul>
          <% end %>
        </div>
      </nav>
      <!-- メインナビゲーション -->
    </div>
  </div>
  <!-- / ヘッダー -->
  <div id="wrapper">
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
