<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="">
<title>shift_app</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<![endif]-->
<%# <script src="js/jquery1.7.2.min.js"></script> %>
<%# <script src="js/script.js"></script> %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9696023364391450"
     crossorigin="anonymous"></script>
</head>
<body>

  <!-- ヘッダー -->
  <div id="header">
    <div class="inner">
      <!-- ロゴ -->
      <div class="logo">
      <% if logged_in? && current_user.store %>
        <a href="<%= store_shift_section_index_path(current_user.store.id) %>">シフト管理<br><span>shift_app</span></a>
      <% else %>
        <a>シフト管理<br><span>shift_app</span></a>
      <% end %>
      </div>
      <!-- / ロゴ -->
      <!-- メインナビゲーション -->
      <nav id="mainNav">
        <div class="panel">
          <ul class="menu" id="menu">
            <% if logged_in? %>
              <% if current_user.store %>
                <li class="menu-list">
                  <%= link_to current_user.store.name, "/stores/#{current_user.store.id}/store_month_schedules" %>
                  <ul class="menu_content">
                    <li><%= link_to "ストア情報", store_path(current_user.store) %></li>
                    <li><%= link_to "シフト", store_shift_section_index_path(current_user.store) %></li>
                    <li><%= link_to "ストアスケジュール", "/stores/#{current_user.store.id}/store_month_schedules" %></li>
                  </ul>
                </li>
              <% end %>
              <li class="menu-list">
                <%= link_to current_user.name, "/users/#{current_user.id}/user_unable_schedules" %>
                <ul class="menu_content">
                  <li><%= link_to "ユーザー情報", user_path(current_user) %></li>
                  <li><%= link_to "ユーザースケジュール", "/users/#{current_user.id}/user_unable_schedules" %></li>
                </ul>
              </li>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "ログイン", new_login_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
      <!-- メインナビゲーション -->
      <!-- ハンバーガーメニュー -->
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <nav class="globalMenuSp">
        <ul>
          <% if logged_in? %>
            <% if current_user.store %>
              <li><%= link_to current_user.store.name, "/stores/#{current_user.store.id}/store_month_schedules" %></li>
              <li><%= link_to "ストア情報", store_path(current_user.store) %></li>
              <li><%= link_to "シフト", store_shift_section_index_path(current_user.store) %></li>
              <li><%= link_to "ストアスケジュール", "/stores/#{current_user.store.id}/store_month_schedules" %></li>
              <br>
            <% end %>
            <li><%= link_to current_user.name, "/users/#{current_user.id}/user_unable_schedules" %></li>
            <li><%= link_to "ユーザー情報", user_path(current_user) %></li>
            <li><%= link_to "ユーザースケジュール", "/users/#{current_user.id}/user_unable_schedules" %></li>
            <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "ログイン", new_login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

  <!-- / ヘッダー -->
  <div id="wrapper">
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9696023364391450"
     crossorigin="anonymous"></script>

    <!-- 記事下 -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-9696023364391450"
        data-ad-slot="9693450827"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  
  <!-- フッター -->
  <footer>
    <%= link_to "プライバシーポリシー", privacy_policy_index_path() %>
    <%= link_to "instagram", "https://www.instagram.com/shift_creating/" %>
    <%= link_to "お問い合わせ先", "https://www.instagram.com/shift_creating/" %>
  </footer>
</body>
</html>
